# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Distribution / Build
build/
dist/
nuitka_dist/
*.spec
*.exe
*.msi
*.wixobj
*.wixpdb

# IDEs
.idea/
.vscode/

# User Data
.spyscalp/
SPYSCALP.conf
*.db
